{
  "extends": [
    "react-app",
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "globals": {
    "chrome": "readonly"
  },
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint"]
}
